body {
    margin: 0;
    padding: 0;
}

.nav_bar {
    background-color: #f1a536;
    display: flex;
    align-items: center;
}

.logo {
    justify-content: space-between;
}

#navigation {
    justify-content: flex-end;
}